In [27]:
2+2

4

In [28]:
2*2-3

1

In [29]:
# +,-,/,*,**,

In [30]:
type(2)

int

In [31]:
type(2.0)

float

In [51]:
type(1)

int

In [53]:
3**3

27

In [32]:
type("2")

str

In [33]:
"Waqas"

'Waqas'

In [34]:
'waqas'

'waqas'

# Variable legality

* variable only contains alphabets, number and underscore (_)
* variable cant start from a number

In [35]:
name = "Waqas"

In [36]:
name

'Waqas'

In [37]:
name = "Muhammad Waqas"

In [38]:
n = "Waqas"

In [39]:
name

'Muhammad Waqas'

In [40]:
n

'Waqas'

In [41]:
name_1 = "Awais"

In [42]:
_name2= "Asad"

In [43]:
salary = 5000

In [44]:
# salary = 5500  

# = is an assignment operator

In [45]:
salary = salary  + 500

In [46]:
salary

5500

In [47]:
salary += 500 # salary = salary  + 500

In [48]:
salary

6000

In [49]:
salary -= 3000

In [50]:
salary

3000

In [25]:
salary *= 2

In [26]:
salary

6000