In [89]:
employees = {'Names': ['Afzal', 'Zehra', 'Waqas', 'Harris', 'Sadia',
                       'Shazad'],
 'Ages': [20, 19, 28, 23, 18, 22],
 'Salaries': [6000, 6500, 3500, 5800, 2500, 2800]}

In [2]:
# employees[?].append(?)

In [33]:
new = ["Aina", 19, 2500]

In [18]:
old = ["Amna", 20, 2501]

In [3]:
for i in employees:
    print(i)

Names
Ages
Salaries

In [20]:
for key, data in zip(employees, new):
    print(data, key)

Aina Names
19 Ages
2500 Salaries

In [26]:
first, last = "Muhammad", "Waqas"

In [27]:
first

'Muhammad'

In [23]:
last

'Waqas'

In [34]:
for key, data in zip(employees, new):
    employees[key].append(data)

In [35]:
employees

{'Names': ['Afzal', 'Zehra', 'Waqas', 'Harris', 'Sadia', 'Shazad', 'Aina'],
 'Ages': [20, 19, 28, 23, 18, 22, 19],
 'Salaries': [6000, 6500, 3500, 5800, 2500, 2800, 2500]}

In [47]:
for i in  enumerate(employees):
    print(i)

(0, 'Names')
(1, 'Ages')
(2, 'Salaries')

In [56]:
nxt = ["Agha", 25, 3500]

In [57]:
for k, i in enumerate(employees):
    employees[i].append(nxt[k])

In [58]:
print(employees)

{'Names': ['Afzal', 'Zehra', 'Waqas', 'Harris', 'Sadia', 'Shazad', 'Agha'], 'Ages': [20, 19, 28, 23, 18, 22, 25], 'Salaries': [6000, 6500, 3500, 5800, 2500, 2800, 3500]}

In [15]:
for i in enumerate("waqas"):
    print(i)

(0, 'w')
(1, 'a')
(2, 'q')
(3, 'a')
(4, 's')

In [16]:
# stru = employees[?].append(?)

In [17]:
# for i, k in enumerate(employees):
#     employees[k].append(nxt[i])

In [18]:
employees

{'Names': ['Afzal',
  'Zehra',
  'Waqas',
  'Harris',
  'Sadia',
  'Shazad',
  'Aina',
  'Agha'],
 'Ages': [20, 19, 28, 23, 18, 22, 19, 25],
 'Salaries': [6000, 6500, 3500, 5800, 2500, 2800, 2500, 3500]}

In [64]:
employees["Names"].index("Waqas")

2

In [66]:
employees["Names"][2]

'Waqas'

In [79]:
employees["Names"][2] = "M. Waqas"

In [75]:
employees["Names"][2]

'M. Waqas'

In [80]:
employees

{'Names': ['Afzal', 'Zehra', 'M. Waqas', 'Harris', 'Sadia', 'Shazad'],
 'Ages': [20, 19, 28, 23, 18, 22],
 'Salaries': [6000, 6500, 3500, 5800, 2500, 2800]}

In [23]:
# concatenation

In [24]:
name = "Waqas"

In [25]:
"Dr. " + name # gluing -> glue

'Dr. Waqas'

In [26]:
name*2

'WaqasWaqas'

In [27]:
" "*15

'               '

In [86]:
for i in employees["Names"]:
    print(f"{i}, You are my best fellow")

Afzal, You are my best fellow
Zehra, You are my best fellow
M. Waqas, You are my best fellow
Harris, You are my best fellow
Sadia, You are my best fellow
Shazad, You are my best fellow

In [29]:
for i in employees:
    if i == "Names":
        names = employees[i]
        for j in names:
            print(f"{j}, You are best fellow")

Afzal, You are best fellow
Zehra, You are best fellow
Muhammad Waqas, You are best fellow
Harris, You are best fellow
Sadia, You are best fellow
Shazad, You are best fellow
Aina, You are best fellow
Agha, You are best fellow

In [90]:
for i in employees:
    if i == "Names":
        names = employees[i]
        for j in names:
            print("{0},You are best fellow".format(j))

Afzal,You are best fellow
Zehra,You are best fellow
Waqas,You are best fellow
Harris,You are best fellow
Sadia,You are best fellow
Shazad,You are best fellow

In [91]:
for i in employees:
    if i == "Names":
        names = employees[i]
        for j in names:
            print("{1}, You, {0} are {2} best fellow {2}".format(j, 5, 6))

5, You, Afzal are 6 best fellow 6
5, You, Zehra are 6 best fellow 6
5, You, Waqas are 6 best fellow 6
5, You, Harris are 6 best fellow 6
5, You, Sadia are 6 best fellow 6
5, You, Shazad are 6 best fellow 6

In [32]:
for i in employees:
    if i == "Names":
        names = employees[i]
        for j in names:
            print("{0}, You, {0} are best fellow {0}".format(j, 5, 6))

Afzal, You, Afzal are best fellow Afzal
Zehra, You, Zehra are best fellow Zehra
Muhammad Waqas, You, Muhammad Waqas are best fellow Muhammad Waqas
Harris, You, Harris are best fellow Harris
Sadia, You, Sadia are best fellow Sadia
Shazad, You, Shazad are best fellow Shazad
Aina, You, Aina are best fellow Aina
Agha, You, Agha are best fellow Agha

In [33]:
for i in employees["Names"]:
    print(f"{i}, You {i} are my best fellow {i}")

Afzal, You Afzal are my best fellow Afzal
Zehra, You Zehra are my best fellow Zehra
Muhammad Waqas, You Muhammad Waqas are my best fellow Muhammad Waqas
Harris, You Harris are my best fellow Harris
Sadia, You Sadia are my best fellow Sadia
Shazad, You Shazad are my best fellow Shazad
Aina, You Aina are my best fellow Aina
Agha, You Agha are my best fellow Agha

In [34]:
# print()
# return some value, perform some specific task,input - process - output

In [35]:
def prnt(x):  
    
    return x

In [36]:
prnt(2)

2

In [37]:
# print()

prnt("Waqas")

'Waqas'

In [38]:
def summation(x,y):
    total  = x + y
    return "Waqas"

In [39]:
summation(8,2)

'Waqas'

In [40]:
def summation(x,y):
    total  = x + y
    return total

In [41]:
summation(8,9)

17

In [42]:
def employee_addition(x):
    for key, data in zip(employees, x):
        employees[key].append(data)
    return employees

In [43]:
ex = ["Hassan", 27,4000]

In [44]:
print(employees)

{'Names': ['Afzal', 'Zehra', 'Muhammad Waqas', 'Harris', 'Sadia', 'Shazad', 'Aina', 'Agha'], 'Ages': [20, 19, 28, 23, 18, 22, 19, 25], 'Salaries': [6000, 6500, 3500, 5800, 2500, 2800, 2500, 3500]}

In [45]:
print(employee_addition(ex))

{'Names': ['Afzal', 'Zehra', 'Muhammad Waqas', 'Harris', 'Sadia', 'Shazad', 'Aina', 'Agha', 'Hassan'], 'Ages': [20, 19, 28, 23, 18, 22, 19, 25, 27], 'Salaries': [6000, 6500, 3500, 5800, 2500, 2800, 2500, 3500, 4000]}

In [46]:
for i in employees:
    # del employees[i][-1]
    print(employees[i][-1])

Hassan
27
4000

In [47]:
for v in employees.values():
    print(v[-1])

Hassan
27
4000

In [48]:
print(employees)

{'Names': ['Afzal', 'Zehra', 'Muhammad Waqas', 'Harris', 'Sadia', 'Shazad', 'Aina', 'Agha', 'Hassan'], 'Ages': [20, 19, 28, 23, 18, 22, 19, 25, 27], 'Salaries': [6000, 6500, 3500, 5800, 2500, 2800, 2500, 3500, 4000]}

In [49]:
for v in employees.values():
    del v[-1]

In [50]:
print(employees)

{'Names': ['Afzal', 'Zehra', 'Muhammad Waqas', 'Harris', 'Sadia', 'Shazad', 'Aina', 'Agha'], 'Ages': [20, 19, 28, 23, 18, 22, 19, 25], 'Salaries': [6000, 6500, 3500, 5800, 2500, 2800, 2500, 3500]}

In [51]:
sorted([20, 19, 28, 23, 18, 22, 19, 25, 27])

[18, 19, 19, 20, 22, 23, 25, 27, 28]

In [52]:
[20, 19, 28, 23, 18, 22, 19, 25, 27].sort()

In [53]:
l = [18, 19, 19, 20, 22, 23, 25, 27, 28]

In [54]:
for i in range(0,50,5):
    print(i)

0
5
10
15
20
25
30
35
40
45

In [55]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6
7
8

In [56]:
for i in l[::2]:
    print(i)

18
19
22
25
28

In [57]:
print(employees)

{'Names': ['Afzal', 'Zehra', 'Muhammad Waqas', 'Harris', 'Sadia', 'Shazad', 'Aina', 'Agha'], 'Ages': [20, 19, 28, 23, 18, 22, 19, 25], 'Salaries': [6000, 6500, 3500, 5800, 2500, 2800, 2500, 3500]}