In [2]:
url = "https://en.wikipedia.org/wiki/List_of_helicopter_prison_escapes#Actual_attempts"

In [1]:
import pandas as pd

In [3]:
type(pd.read_html(url))

ImportError: lxml not found, please install it

In [5]:
len(pd.read_html(url))

8

In [6]:
lst = pd.read_html(url)

In [7]:
lst[0]

    0                                                  1
0 NaN  This list is incomplete; you can help by addin...

In [9]:
data = lst[1]

In [11]:
type(data)

pandas.core.frame.DataFrame

In [13]:
final = data.to_numpy().tolist()

In [14]:
len(final)

48

In [16]:
print(final[-1])

['September 25, 2020', 'Forest prison, Brussels', 'Belgium', 'No', 'Kristel A.', 'Three armed men hijacked a Eurocopter AS355 helicopter in Antwerp, Belgium. After take-off from Antwerp Airport, the pilot, a 35-year-old woman, was forced to fly to the women’s prison of Forest. Unable to land, after more than an hour the pilot was forced to land the helicopter close to a highway carpark near the village Hélécine, 40\xa0km east of Brussels. The three hijackers escaped, while the pilot afterwards flew the helicopter to the base of the Federal Police Air Support Detachment.[68] Four people were arrested two days later in connection with this helicopter hijacking.[69] Mike G., aged 24 from Tongeren, convicted drug dealer released out of jail but still under electronic surveillance, was arrested under the suspicion of having organised the failed prison break of his wife Kristel A., aged 27, who is awaiting trial for murder.[70]']

In [17]:
len(final[-1])

6

In [ ]:
final[0] = row[:-1]

In [20]:
for i,row in enumerate(final):
    print(row[:-1])

['August 19, 1971', 'Santa Martha Acatitla', 'Mexico', 'Yes', 'Joel David Kaplan Carlos Antonio Contreras Castro']
['October 31, 1973', 'Mountjoy Jail', 'Ireland', 'Yes', "JB O'Hagan Seamus TwomeyKevin Mallon"]
['May 24, 1978', 'United States Penitentiary, Marion', 'United States', 'No', 'Garrett Brock TrapnellMartin Joseph McNallyJames Kenneth Johnson']
['February 27, 1981', 'Fleury-Mérogis, Essonne, Ile de France', 'France', 'Yes', 'Gérard DupréDaniel Beaumont']
['May 7, 1981', 'Orsainville Prison, Quebec City', 'Canada', 'No', 'Marina Paquet (hijacker)Giles Arseneault (prisoner)']
['January, 1983', 'Pentridge (HM Prison)', 'Australia', 'No', 'David McMillan']
['December 19, 1985', 'Perry Correctional Institution, Pelzer, South Carolina', 'United States', 'Yes', 'James Rodney LeonardWilliam Douglas BallewJesse Glenn Smith']
['December 31, 1985', 'Cândido Mendes penitentiary, Ilha Grande, Rio de Janeiro', 'Brazil', 'Yes', 'José Carlos dos Reis Encina, a.k.a. "Escadinha"']
['May 26, 1986', 'Prison de la Santé', 'France', 'Yes', 'Michel Vaujour']
['November 5, 1986', 'Federal Correctional Institution, Dublin', 'United States', 'Yes', 'Samantha Lopez']
['November 23, 1986', 'Prigione di Rebibbia, Roma', 'Italy', 'Yes', 'André BellaïcheGianluigi EspositoLuciano Cipollari']
['December 10, 1987', 'Gartree (HM Prison)', 'United Kingdom', 'Yes', 'Sydney DraperJohn Kendall']
['July 11, 1988', 'Santa Fe prison', 'United States', 'Yes', 'Mahoney Danny Francis MitchellRandy Lackey']
['April 17, 1989', 'Federal Holding Facility, Miami, FL', 'United States', 'No', 'Ben Kramer']
['August 19, 1989', 'Arkansas Valley Correctional Facility', 'United States', 'Yes', 'Ralph BrownFreddie Gonzales']
['June 19, 1990', 'Kent Penitentiary, British Columbia', 'Canada', 'Yes', 'Robert FordDavid Thomas']
['1991', 'Rio Piedras State Penitentiary, Puerto Rico', 'Puerto Rico', 'Yes', 'William Lane']
['1992', 'Lyon Prison', 'France', 'Yes', '—']
['December 1992', 'Touraine Central Prison, Tours', 'France', 'No', '—']
['June 17, 1993', 'Touraine Central Prison, Tours', 'France', 'No', 'Michel Vaujour']
['December 30, 1996', 'High Security Prison, Santiago', 'Chile', 'Yes', 'Four members of the Manuel Rodriguez Patriotic Front']
['September 18, 1997', 'De Geerhorst jail', 'Netherlands', 'No', '—']
['March 25, 1999', 'Metropolitan Remand and Reception Centre', 'Australia', 'Yes', 'John Killick']
['June 5, 2000', 'Martin Treatment Center for Sexually Violent Predators, Martin County Florida', 'United States', 'Yes', 'Steven Whitsett']
['2000', 'Lyon prison', 'France', 'Yes', '—']
['2001', 'Luynes prison', 'France', 'Yes', 'Pascal Payet']
['March 24, 2001', 'Draguignan prison', 'France', 'Yes', 'Abdelhamid CarnousEmile Forma-SariJean-Philippe Lecase']
['May 28, 2001', 'Fresnes prison', 'France', 'No', '—']
['January 17, 2002', 'Parada Neto Penitentiary', 'Brazil', 'Yes', '—']
['December 30, 2002', 'Las Cucharas prison, Puerto Rico', 'United States', 'Yes', 'Orlando Cartagena Jose Rodriguez Victor Diaz Hector Diaz Jose Tapia']
['2003', 'Luynes prison', 'France', 'Yes', 'Eric AlboreoFranck PerlettoMichel Valero']
['July 2005', 'France', 'France', 'No', '—']
['December 10, 2005', 'Aiton Prison', 'France', 'Yes', 'Hubert SellesJean-Claude MorettiMohamed Bessame']
['June 6, 2006', 'Korydallos Prison', 'Greece', 'Yes', 'Vassilis Paleokostas']
['April 15, 2007', 'Lantin Prison, Liège', 'Belgium', 'Yes', 'Eric Ferdinand']
['July 15, 2007', 'Grasse prison', 'France', 'Yes', 'Pascal Payet']
['October 28, 2007', 'Ittre prison', 'Belgium', 'No', 'Nordin Benallal']
['February 22, 2009', 'Korydallos Prison', 'Greece', 'Yes', 'Vasilis PaleokostasAlket Rizai']
['April 27, 2009', 'Domenjod Prison, Réunion', 'France', 'Yes', 'Alexin JismyFabrice Michel']
['July 23, 2009', 'Bruges', 'Belgium', 'Yes', 'Ashraf Sekkaki plus three other criminals']
['June 25, 2010', 'HM Prison Isle of Wight, Isle of Wight', 'United Kingdom', 'No', 'Brian Lawrence']
['March 22, 2012', 'Sheksna, Penal colony N17', 'Russia', 'Yes', 'Alexey Shestakov']
['February 24, 2013', 'Trikala Prison, Trikala', 'Greece', 'No', 'Panagiotis Vlastos']
['March 17, 2013', 'Saint-Jérôme Detention Facility, Quebec', 'Canada', 'Yes', 'Benjamin Hudon-BarbeauDanny Provençal']
['June 7, 2014', 'Orsainville Detention Facility, Quebec', 'Canada', 'Yes', 'Yves DenisDenis LefebvreSerge Pomerleau']
['February 22, 2016', 'Thiva', 'Greece', 'No', 'Pola RoupaNikos Maziotis']
['July 1, 2018', 'Réau, near Paris', 'France', 'Yes', 'Rédoine Faïd']
['September 25, 2020', 'Forest prison, Brussels', 'Belgium', 'No', 'Kristel A.']

In [21]:
for i,row in enumerate(final):
    final[i] = row[:-1]

In [22]:
print(final[:2])

[['August 19, 1971', 'Santa Martha Acatitla', 'Mexico', 'Yes', 'Joel David Kaplan Carlos Antonio Contreras Castro'], ['October 31, 1973', 'Mountjoy Jail', 'Ireland', 'Yes', "JB O'Hagan Seamus TwomeyKevin Mallon"]]

In [23]:
final[0]

['August 19, 1971',
 'Santa Martha Acatitla',
 'Mexico',
 'Yes',
 'Joel David Kaplan Carlos Antonio Contreras Castro']

In [24]:
"waqas".index("q")

2

In [28]:
"waqas"[-4:]

'aqas'

In [31]:
type(int('August 19, 1971'[-4:]))

int

In [32]:
print(final[:2])

[['August 19, 1971', 'Santa Martha Acatitla', 'Mexico', 'Yes', 'Joel David Kaplan Carlos Antonio Contreras Castro'], ['October 31, 1973', 'Mountjoy Jail', 'Ireland', 'Yes', "JB O'Hagan Seamus TwomeyKevin Mallon"]]

In [36]:
for row in final:
    print(int(row[0][-4:]))

1971
1973
1978
1981
1981
1983
1985
1985
1986
1986
1986
1987
1988
1989
1989
1990
1991
1992
1992
1993
1996
1997
1999
2000
2000
2001
2001
2001
2002
2002
2003
2005
2005
2006
2007
2007
2007
2009
2009
2009
2010
2012
2013
2013
2014
2016
2018
2020

In [37]:
for row in final:
    row[0] = int(row[0][-4:])

In [39]:
print(final[:3])

[[1971, 'Santa Martha Acatitla', 'Mexico', 'Yes', 'Joel David Kaplan Carlos Antonio Contreras Castro'], [1973, 'Mountjoy Jail', 'Ireland', 'Yes', "JB O'Hagan Seamus TwomeyKevin Mallon"], [1978, 'United States Penitentiary, Marion', 'United States', 'No', 'Garrett Brock TrapnellMartin Joseph McNallyJames Kenneth Johnson']]

In [40]:
min(final[0])

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
def min_max(lol):
    l = []
    for i in lol:
        yrs = i[0]
        l.append(yrs)
    mi = min(l)
    mx = max(l)
    return mi,mx, "waqas"

In [44]:
min_max(final)

(1971, 2020, 'waqas')

In [46]:
min(final, key = lambda lst: lst[0])[0]

1971

In [47]:
max(final, key = lambda lst: lst[0])

[2020, 'Forest prison, Brussels', 'Belgium', 'No', 'Kristel A.']

In [48]:
min_year = min(final, key = lambda lst: lst[0])[0]
max_year = max(final, key = lambda lst: lst[0])[0]

In [49]:
min_year

1971

In [50]:
max_year

2020

In [51]:
# [[1971 0],  --------------------------------------[2020,0]]

In [57]:
years = []

for i in range(min_year,max_year+1):
    years.append(i)

In [58]:
print(years)

[1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [62]:
range(min_year,max_year+1)

range(1971, 2021)

In [61]:
years = list(range(min_year,max_year+1))

In [63]:
# [
# [1971,0], ----------------------------------[2020,0]
    
    
# ]

In [64]:
len(years)

50

In [65]:
print(years)

[1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [67]:
print([0]*len(years))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [68]:
cases = []

for y,z in zip(years,[0]*len(years)):
    cases.append([y,z])

In [69]:
print(cases)

[[1971, 0], [1972, 0], [1973, 0], [1974, 0], [1975, 0], [1976, 0], [1977, 0], [1978, 0], [1979, 0], [1980, 0], [1981, 0], [1982, 0], [1983, 0], [1984, 0], [1985, 0], [1986, 0], [1987, 0], [1988, 0], [1989, 0], [1990, 0], [1991, 0], [1992, 0], [1993, 0], [1994, 0], [1995, 0], [1996, 0], [1997, 0], [1998, 0], [1999, 0], [2000, 0], [2001, 0], [2002, 0], [2003, 0], [2004, 0], [2005, 0], [2006, 0], [2007, 0], [2008, 0], [2009, 0], [2010, 0], [2011, 0], [2012, 0], [2013, 0], [2014, 0], [2015, 0], [2016, 0], [2017, 0], [2018, 0], [2019, 0], [2020, 0]]

In [70]:
c = []

for y in years:
    c.append([y,0])

In [71]:
print(c)

[[1971, 0], [1972, 0], [1973, 0], [1974, 0], [1975, 0], [1976, 0], [1977, 0], [1978, 0], [1979, 0], [1980, 0], [1981, 0], [1982, 0], [1983, 0], [1984, 0], [1985, 0], [1986, 0], [1987, 0], [1988, 0], [1989, 0], [1990, 0], [1991, 0], [1992, 0], [1993, 0], [1994, 0], [1995, 0], [1996, 0], [1997, 0], [1998, 0], [1999, 0], [2000, 0], [2001, 0], [2002, 0], [2003, 0], [2004, 0], [2005, 0], [2006, 0], [2007, 0], [2008, 0], [2009, 0], [2010, 0], [2011, 0], [2012, 0], [2013, 0], [2014, 0], [2015, 0], [2016, 0], [2017, 0], [2018, 0], [2019, 0], [2020, 0]]

In [73]:
48*50

2400

In [74]:
for row in final:
    yr = row[0]
    for lst in c:
        y = lst[0]
        if yr ==y:
            lst[1] += 1
            break

In [76]:
print(c)

[[1971, 1], [1972, 0], [1973, 1], [1974, 0], [1975, 0], [1976, 0], [1977, 0], [1978, 1], [1979, 0], [1980, 0], [1981, 2], [1982, 0], [1983, 1], [1984, 0], [1985, 2], [1986, 3], [1987, 1], [1988, 1], [1989, 2], [1990, 1], [1991, 1], [1992, 2], [1993, 1], [1994, 0], [1995, 0], [1996, 1], [1997, 1], [1998, 0], [1999, 1], [2000, 2], [2001, 3], [2002, 2], [2003, 1], [2004, 0], [2005, 2], [2006, 1], [2007, 3], [2008, 0], [2009, 3], [2010, 1], [2011, 0], [2012, 1], [2013, 2], [2014, 1], [2015, 0], [2016, 1], [2017, 0], [2018, 1], [2019, 0], [2020, 1]]