In [1]:
import csv

In [5]:
nba = list(csv.reader(open("nba.csv")))

In [6]:
headers = nba[0]

nba = nba[1:]

In [8]:
print(headers)
print()
print(nba[:3])

['player', 'pos', 'age', 'team', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'season', 'season_end']

[['Quincy Acy', 'SF', '23', 'TOT', '63', '0', '847', '66', '141', '0.468', '4', '15', '0.266666666666667', '62', '126', '0.492063492063492', '0.482', '35', '53', '0.66', '72', '144', '216', '28', '23', '26', '30', '122', '171', '2013-2014', '2013'], ['Steven Adams', 'C', '20', 'Oklahoma City Thunder', '81', '20', '1197', '93', '185', '0.503', '0', '0', 'NA', '93', '185', '0.502702702702703', '0.503', '79', '136', '0.581', '142', '190', '332', '43', '40', '57', '71', '203', '265', '2013-2014', '2013'], ['Jeff Adrien', 'PF', '27', 'TOT', '53', '12', '961', '143', '275', '0.52', '0', '0', 'NA', '143', '275', '0.52', '0.52', '76', '119', '0.639', '102', '204', '306', '38', '24', '36', '39', '108', '362', '2013-2014', '2013']]

In [11]:
print(nba[68])

['Kobe Bryant', 'SG', '35', 'Los Angeles Lakers', '6', '6', '177', '31', '73', '0.425', '3', '16', '0.1875', '28', '57', '0.491228070175439', '0.445', '18', '21', '0.857', '2', '24', '26', '38', '7', '1', '34', '9', '83', '2013-2014', '2013']

In [12]:
class Player():
    def __init__(self, row): # construtor, dunder method
        self.player_name =row[0]
        self.position =row[1]
        self.age =int(row[2])
        self.team =row[3]

In [13]:
ff_info = Player(nba[55])

In [15]:
ff_info.player_name

'Andrew Bogut'

In [16]:
ff_info.team

'Golden State Warriors'

In [17]:
class Team():
    def __init__(self, team_name):
        self.name =team_name

In [18]:
gsw = Team('Golden State Warriors')

In [19]:
gsw.name

'Golden State Warriors'

In [ ]:
class Team():
    def __init__(self, team_name):
        self.name =team_name

In [21]:
# import pandas as pd

In [ ]:
# pd.groupby()

# pd.pivot_table()

In [22]:
class Team():
    def __init__(self, team_name):
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row))

In [23]:
lal = Team('Los Angeles Lakers')

In [24]:
lal.name

'Los Angeles Lakers'

In [26]:
len(lal.info)

16

In [27]:
lal_data = lal.info

In [28]:
print(lal_data)

[<__main__.Player object at 0x00000148C702B5C8>, <__main__.Player object at 0x00000148C702B608>, <__main__.Player object at 0x00000148C702BD88>, <__main__.Player object at 0x00000148C702BD48>, <__main__.Player object at 0x00000148C702BA08>, <__main__.Player object at 0x00000148C702BA48>, <__main__.Player object at 0x00000148C702BD08>, <__main__.Player object at 0x00000148C702BDC8>, <__main__.Player object at 0x00000148C702BE08>, <__main__.Player object at 0x00000148C702B948>, <__main__.Player object at 0x00000148C702BE48>, <__main__.Player object at 0x00000148C702BE88>, <__main__.Player object at 0x00000148C702BEC8>, <__main__.Player object at 0x00000148C702BF08>, <__main__.Player object at 0x00000148C702BF48>, <__main__.Player object at 0x00000148C702BF88>]

In [29]:
for ins in lal_data:
    print(ins.player_name)

Kobe Bryant
Jordan Farmar
Pau Gasol
Elias Harris
Manny Harris
Xavier Henry
Jordan Hill
Wesley Johnson
Chris Kaman
Ryan Kelly
Kendall Marshall
Jodie Meeks
Steve Nash
Robert Sacre
Shawne Williams
Nick Young

In [30]:
for ins in lal_data[:3]:
    print(ins.player_name)
    print(ins.position)
    print(ins.age)
    print(ins.team)
    print("-"*30)

Kobe Bryant
SG
35
Los Angeles Lakers
------------------------------
Jordan Farmar
PG
27
Los Angeles Lakers
------------------------------
Pau Gasol
C
33
Los Angeles Lakers
------------------------------

In [ ]:
class Team():
    def __init__(self, team_name):
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row)) # [row[0], row[1], row[2], row[3]

In [32]:
teams = []

for row in nba:
    teams.append(row[3])

In [33]:
team_names = list(set(teams))

In [36]:
print(team_names )

['Los Angeles Lakers', 'Phoenix Suns', 'Dallas Mavericks', 'Philadelphia 76ers', 'Los Angeles Clippers', 'Utah Jazz', 'Oklahoma City Thunder', 'Houston Rockets', 'Orlando Magic', 'Cleveland Cavaliers', 'New York Knicks', 'Charlotte Hornets', 'New Orleans Pelicans', 'Miami Heat', 'Atlanta Hawks', 'TOT', 'Indiana Pacers', 'Washington Wizards', 'Detroit Pistons', 'Boston Celtics', 'Minnesota Timberwolves', 'Brooklyn Nets', 'Milwaukee Bucks', 'Toronto Raptors', 'Golden State Warriors', 'Portland Trail Blazers', 'San Antonio Spurs', 'Chicago Bulls', 'Sacramento Kings', 'Memphis Grizzlies', 'Denver Nuggets']

In [37]:
class Team():
    def __init__(self, team_name): # attribute, constructor,dunder
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row))
                
    def num_player(self): # Method
        count = 0  # count = len(self.info)
        for i in self.info:
            count += 1
        return count

In [38]:
Team('Los Angeles Lakers').num_player()

16

In [39]:
class Player():
    def __init__(self, row): # construtor, dunder method
        self.player_name =row[0]
        self.position =row[1]
        self.age =int(row[2])
        self.team =row[3]

class Team():
    def __init__(self, team_name): # attribute, constructor,dunder
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row))
                
    def num_player(self): # Method
        count = 0  # count = len(self.info)
        for i in self.info:
            count += 1
        return count
    
    def average_age(self):
        total_ages = 0
        for ins in self.info:
            age = ins.age
            total_ages += age
            
        avg = total_ages/self.num_player()
        return avg

In [40]:
Team('Los Angeles Lakers').average_age()

27.25

In [46]:
# dir()

for name in team_names:
    print(round(Team(name).average_age(),2))

27.25
25.87
28.2
23.0
29.12
25.88
26.88
25.13
25.08
24.14
28.2
25.85
25.39
30.6
26.4
26.41
27.75
26.21
25.6
25.29
26.07
29.8
24.15
25.2
26.33
25.4
28.43
29.27
24.89
27.23
25.33

In [49]:
print(team_names)

['Los Angeles Lakers', 'Phoenix Suns', 'Dallas Mavericks', 'Philadelphia 76ers', 'Los Angeles Clippers', 'Utah Jazz', 'Oklahoma City Thunder', 'Houston Rockets', 'Orlando Magic', 'Cleveland Cavaliers', 'New York Knicks', 'Charlotte Hornets', 'New Orleans Pelicans', 'Miami Heat', 'Atlanta Hawks', 'TOT', 'Indiana Pacers', 'Washington Wizards', 'Detroit Pistons', 'Boston Celtics', 'Minnesota Timberwolves', 'Brooklyn Nets', 'Milwaukee Bucks', 'Toronto Raptors', 'Golden State Warriors', 'Portland Trail Blazers', 'San Antonio Spurs', 'Chicago Bulls', 'Sacramento Kings', 'Memphis Grizzlies', 'Denver Nuggets']

In [53]:
class Player():
    def __init__(self, row): # construtor, dunder method
        self.player_name =row[0]
        self.position =row[1]
        self.age =int(row[2])
        self.team =row[3]

class Team():
    def __init__(self, team_name): # attribute, constructor,dunder
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row))
                
    def num_player(self): # Method
        count = 0  # count = len(self.info)
        for i in self.info:
            count += 1
        return count
    
    def average_age(self):
        total_ages = 0
        for ins in self.info:
            age = ins.age
            total_ages += age
            
        avg = total_ages/self.num_player()
        return avg
    
    @classmethod # decorator
    def older_team(self, team1, team2):
        if team1.average_age()> team2.average_age():
            return team1
        else:
            return team2

In [55]:
# Team('TOT')
result = Team.older_team(Team('Dallas Mavericks'), Team('Utah Jazz'))

In [56]:
result

In [57]:
result.name

'Dallas Mavericks'

In [58]:
Team('Dallas Mavericks').average_age()

28.2

In [59]:
Team('Utah Jazz').average_age()

25.875

In [60]:
class Player(object):
    def __init__(self, row): # construtor, dunder method
        self.player_name =row[0]
        self.position =row[1]
        self.age =int(row[2])
        self.team =row[3]

class Team(object):
    def __init__(self, team_name): # attribute, constructor,dunder
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row))
                
    def num_player(self): # Method
        count = 0  # count = len(self.info)
        for i in self.info:
            count += 1
        return count
    
    def average_age(self):
        total_ages = 0
        for ins in self.info:
            age = ins.age
            total_ages += age
            
        avg = total_ages/self.num_player()
        return avg
    
#     @classmethod # decorator
#     def older_team(self, team1, team2):
#         if team1.average_age()> team2.average_age():
#             return team1
#         else:
#             return team2

    def __gt__(self, other):
        return self.average_age() > other.average_age()
    def __ge__(self, other):
        return self.average_age() >= other.average_age()
    
    def __lt__(self, other):
        return self.average_age() < other.average_age()
    
    def __le__(self, other):
        return self.average_age() <= other.average_age()
    
    def __eq__(self, other):
        return self.average_age() == other.average_age()
    
    def __ne__(self, other):
        return self.average_age() != other.average_age()

In [61]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [62]:
print(dir({}))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [63]:
# class Aqua(Toyota)


# def boy(Father): # overloading
#     def smoke():
#         return "3 in a day"

In [64]:
class Player(object):
    def __init__(self, row): # construtor, dunder method
        self.player_name =row[0]
        self.position =row[1]
        self.age =int(row[2])
        self.team =row[3]

class Team(object):
    def __init__(self, team_name): # attribute, constructor,dunder
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row))
                
    def num_player(self): # Method
        count = 0  # count = len(self.info)
        for i in self.info:
            count += 1
        return count
    
    def average_age(self):
        total_ages = 0
        for ins in self.info:
            age = ins.age
            total_ages += age
            
        avg = total_ages/self.num_player()
        return avg

    def __gt__(self, other):
        return self.average_age() > other.average_age()
    def __ge__(self, other):
        return self.average_age() >= other.average_age()
    
    def __lt__(self, other):
        return self.average_age() < other.average_age()
    
    def __le__(self, other):
        return self.average_age() <= other.average_age()
    
    def __eq__(self, other):
        return self.average_age() == other.average_age()
    
    def __ne__(self, other):
        return self.average_age() != other.average_age()

In [65]:
teama = Team('Orlando Magic')
teamb = Team('Cleveland Cavaliers')

In [66]:
teama > teamb

True

In [67]:
teama.average_age()

25.076923076923077

In [68]:
teamb.average_age()

24.142857142857142

In [69]:
team_inst = []


for name in team_names:
    ins = Team(name)
    team_inst.append(ins)

In [70]:
max(team_inst)

In [71]:
max(team_inst).name

'Miami Heat'

In [73]:
avg_ages = []


for name in team_names:
    age = Team(name).average_age()
    avg_ages.append(age)

In [74]:
max(avg_ages)

30.6

In [75]:
print(avg_ages)

[27.25, 25.866666666666667, 28.2, 23.0, 29.125, 25.875, 26.88235294117647, 25.133333333333333, 25.076923076923077, 24.142857142857142, 28.2, 25.846153846153847, 25.38888888888889, 30.6, 26.4, 26.41269841269841, 27.75, 26.214285714285715, 25.6, 25.285714285714285, 26.071428571428573, 29.8, 24.153846153846153, 25.2, 26.333333333333332, 25.4, 28.428571428571427, 29.272727272727273, 24.88888888888889, 27.23076923076923, 25.333333333333332]

In [76]:
avg_ages.index(30.6)

13

In [78]:
team_inst[13].name

'Miami Heat'