In [1]:
#whitehouse

import csv

potus = list(csv.reader(open("potus.csv")))

In [3]:
headers = potus[0]

data = potus[1:]

In [4]:
headers

['name',
 'appt_made_date',
 'appt_start_date',
 'appt_end_date',
 'visitee_namelast',
 'visitee_namefirst',
 'meeting_room',
 'description']

In [5]:
print(data[0])

['Joshua T. Blanton', '2014-12-18T00:00:00', '1/6/2015 9:30', '1/6/2015 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']

In [7]:
'1/6/2015 9:30'[4:8]

'2015'

In [8]:
import datetime as dt

* %d day in number
* %A day in words
* %a day in words but in aka
* %m month in number
* %B month in words
* %b month in words but in aka
* %Y year in 4 digits
* %y year in 2 digits
* %H  hours in 24 hours format
* %I  hours in 12 hours format
* %p am or pm
* %M minutes 
* %S seconds

In [11]:
dtime = dt.datetime.strptime('1/6/2015 9:30',"%m/%d/%Y %H:%M")

In [19]:
# dir(dtime)

In [21]:
print(dtime.year)
print(dtime.month)
print(dtime.day)
print(dtime.minute)
print(dtime.hour)

2015
1
6
30
9

In [22]:
dt.datetime.strptime('January 2015',"%B %Y")

datetime.datetime(2015, 1, 1, 0, 0)

In [23]:
f = "%m/%d/%Y %H:%M"

In [25]:
for i in data:
    i[2] = dt.datetime.strptime(i[2],f)
    i[3] = dt.datetime.strptime(i[3],f)

In [26]:
print(data[0])

['Joshua T. Blanton', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard']

In [27]:
start_time = []

for i in data:
    start_time.append(i[2])

In [28]:
min(start_time)

datetime.datetime(2015, 1, 6, 9, 30)

In [29]:
max(start_time)

datetime.datetime(2015, 12, 18, 16, 30)

In [ ]:
# January 2015   125
# February 2015  185
# December 2015  96

In [34]:
# data[0][2].strftime("%B %Y")

dt.datetime.strftime(data[0][2], "%B %Y")

'January 2015'

In [35]:
# str -datetime 
# datetime -str

no_meeting = {}


no_meeting["name"] = "Waqas"

In [36]:
no_meeting

{'name': 'Waqas'}

In [39]:
no_meeting = {}

for i in data:
    date = i[2].strftime("%B %Y")  # data[0][2].strftime("%B %Y")
    if date not in no_meeting:
        no_meeting[date] = 1
    else:
        no_meeting[date] += 1

In [40]:
print(no_meeting)

{'January 2015': 1248, 'February 2015': 2165, 'March 2015': 2262, 'April 2015': 4996, 'May 2015': 3013, 'June 2015': 7743, 'July 2015': 2930, 'August 2015': 1350, 'September 2015': 4416, 'October 2015': 3669, 'November 2015': 1133, 'December 2015': 13029}

In [41]:
max(no_meeting)

'September 2015'

In [45]:
# ord("O")

In [44]:
# ord("S")

In [46]:
max(no_meeting, key = no_meeting.get)

'December 2015'

In [48]:
len(no_meeting.keys())

12

In [49]:
# science -> research

In [53]:
data[0][2].time()

datetime.time(9, 30)

In [54]:
time = []

for i in data:
    t = i[2].time()
    time.append(t)

In [55]:
min(time)

datetime.time(6, 0)

In [56]:
max(time)

datetime.time(21, 30)

In [60]:
"Waqas"*2

'WaqasWaqas'

In [61]:
duration = []

for i in data:
    d= i[3].time()-i[2].time()
    duration.append(d)

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'

In [62]:
duration = []

for i in data:
    d= i[3]-i[2]
    duration.append(d)

In [63]:
min(duration)

datetime.timedelta(seconds=8940)

In [67]:
max(duration).seconds

46740

In [68]:
max(duration).days

16

1. datetime.datetime
2. datetime.time
3. datetime.date
4. datetime.timedelta

In [73]:
dt.datetime.strptime("2/6/2022", "%m/%d/%Y") +dt.timedelta(days = 10)

datetime.datetime(2022, 2, 16, 0, 0)

In [76]:
dt.datetime.strptime("2/6/2022", "%m/%d/%Y") - dt.timedelta(days = 100)

datetime.datetime(2021, 10, 29, 0, 0)

In [78]:
[50,30,20]

[50, 30, 20]

In [ ]:
0+50
50+30
80+20
100

In [79]:
sum([50,30,20])

100

In [82]:
sum(duration, dt.timedelta(seconds = 0))

datetime.timedelta(days=21210, seconds=50520)

In [83]:
sum(duration, dt.timedelta(days = 0))

datetime.timedelta(days=21210, seconds=50520)

In [84]:
sum(duration, dt.timedelta(minutes = 0))

datetime.timedelta(days=21210, seconds=50520)

In [85]:
dir(dt)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [89]:
dir(dt.datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [91]:
dt.datetime.now()

datetime.datetime(2022, 2, 6, 14, 55, 12, 598730)

In [92]:
dt.datetime.today()

datetime.datetime(2022, 2, 6, 14, 55, 27, 436133)

In [98]:
# dir(dt.datetime.weekday)