In [11]:
name = "Waqas"

In [17]:
for aa in name:
    print(aa)

W
a
q
a
s

In [18]:
step

's'

In [4]:
for step in name:
    print(name)

Waqas
Waqas
Waqas
Waqas
Waqas

In [5]:
for step in name:
    print("NED University")

NED University
NED University
NED University
NED University
NED University

In [28]:
empl = [['Afzal', 20, 5500, 'GNG', 'MD'],
 ['Zehra', 18, 6000, 'Finance', 'CFO'],
 ['Muhammad Waqas', 28, 2500, 'D.S','Senior Consultant'],
 ['Harris', 22, 5300, 'MIS', 'Supervisor']]

In [29]:
for i in empl:
    print(empl[0])

['Afzal', 20, 5500, 'GNG', 'MD']
['Afzal', 20, 5500, 'GNG', 'MD']
['Afzal', 20, 5500, 'GNG', 'MD']
['Afzal', 20, 5500, 'GNG', 'MD']

In [30]:
for i in empl:
    dept = i[-2]
    if dept == "D.S":
        i[2] += 500

In [31]:
empl

[['Afzal', 20, 5500, 'GNG', 'MD'],
 ['Zehra', 18, 6000, 'Finance', 'CFO'],
 ['Muhammad Waqas', 28, 3000, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5300, 'MIS', 'Supervisor']]

In [10]:
for i in empl:
    dept = i[-2]
    if dept == "D.S":
        sal = i[2]
        sal += 500

In [11]:
empl

[['Afzal', 20, 5500, 'GNG', 'MD'],
 ['Zehra', 18, 6000, 'Finance', 'CFO'],
 ['Muhammad Waqas', 28, 3000, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5300, 'MIS', 'Supervisor']]

In [12]:
for i in empl:
    dept = i[-2]
    if dept == "D.S":
        sal = i[2]
        sal += 500
        i[2] = sal

In [13]:
empl

[['Afzal', 20, 5500, 'GNG', 'MD'],
 ['Zehra', 18, 6000, 'Finance', 'CFO'],
 ['Muhammad Waqas', 28, 3500, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5300, 'MIS', 'Supervisor']]

In [14]:
1== 1.0 and 2 == 2.9

False

In [15]:
 2 == 2.9 and 1== 1.0

False

In [16]:
not False

True

In [17]:
for i in empl:
    if not i[-2] == "D.S":
        i[2]+=500

In [18]:
empl

[['Afzal', 20, 6000, 'GNG', 'MD'],
 ['Zehra', 18, 6500, 'Finance', 'CFO'],
 ['Muhammad Waqas', 28, 3500, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5800, 'MIS', 'Supervisor']]

In [19]:
z = ['Zehra', 18, 6000, 'Finance', 'CFO']

In [20]:
z

['Zehra', 18, 6000, 'Finance', 'CFO']

# Membership operators


* in
* not in

In [21]:
"Cfo" in z

False

In [22]:
"CFO" not in z

False

In [23]:
empl

[['Afzal', 20, 6000, 'GNG', 'MD'],
 ['Zehra', 18, 6500, 'Finance', 'CFO'],
 ['Muhammad Waqas', 28, 3500, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5800, 'MIS', 'Supervisor']]

# dictionary

In [24]:
d = {"Name":"Waqas", "Age":28, "Salary":3500, "Dept":"D.S","Pos": "S.C"}

In [25]:
type(d)

dict

In [26]:
print(type(d))

<class 'dict'>

In [27]:
print(type(empl))

<class 'list'>

In [28]:
d

{'Name': 'Waqas', 'Age': 28, 'Salary': 3500, 'Dept': 'D.S', 'Pos': 'S.C'}

In [29]:
d.keys()

dict_keys(['Name', 'Age', 'Salary', 'Dept', 'Pos'])

In [30]:
d.values()

dict_values(['Waqas', 28, 3500, 'D.S', 'S.C'])

In [31]:
d.items()

dict_items([('Name', 'Waqas'), ('Age', 28), ('Salary', 3500), ('Dept', 'D.S'), ('Pos', 'S.C')])

In [32]:
d

{'Name': 'Waqas', 'Age': 28, 'Salary': 3500, 'Dept': 'D.S', 'Pos': 'S.C'}

In [33]:
d["Age"]

28

In [34]:
d

{'Name': 'Waqas', 'Age': 28, 'Salary': 3500, 'Dept': 'D.S', 'Pos': 'S.C'}

In [35]:
employees = {"Names":["Afzal", "Zehra", "Waqas", "Harris"],
            "Ages":[20,19,28,23],
            "Salaries": [6000,6500,3500,5800]}

In [36]:
employees

{'Names': ['Afzal', 'Zehra', 'Waqas', 'Harris'],
 'Ages': [20, 19, 28, 23],
 'Salaries': [6000, 6500, 3500, 5800]}

In [37]:
employees["Names"].append("Sadia")
employees["Ages"].append(18)
employees["Salaries"].append(2500)

In [38]:
employees

{'Names': ['Afzal', 'Zehra', 'Waqas', 'Harris', 'Sadia'],
 'Ages': [20, 19, 28, 23, 18],
 'Salaries': [6000, 6500, 3500, 5800, 2500]}

In [39]:
# employees[?].append(?)

In [40]:
for i in d:
    print(i)

Name
Age
Salary
Dept
Pos

In [41]:
n = ["Shazad", 22, 2800]
for i in employees:
    employees[i].append("Shazad")

In [42]:
for key, i in zip(employees, n):
    employees[key].append(i)

In [43]:
employees

{'Names': ['Afzal', 'Zehra', 'Waqas', 'Harris', 'Sadia', 'Shazad', 'Shazad'],
 'Ages': [20, 19, 28, 23, 18, 'Shazad', 22],
 'Salaries': [6000, 6500, 3500, 5800, 2500, 'Shazad', 2800]}

In [3]:
import os

In [5]:
os. getcwd()

'C:\\Users\\Sajad Shah\\Matlab_Folder'