In [1]:
name = "Waqas"

In [2]:
type(name)

str

In [3]:
# data structure

# But we have multiple data structures

# list

In [3]:
employee_1 = []

In [4]:
employee_1

[]

In [5]:
type(employee_1)

list

In [6]:
n = ""

In [7]:
type(n)

str

In [10]:
employee_1 = ["Afzal",20, 5000.0, "GNG", "MD"]

In [62]:
len(employee_1)

6

In [17]:
employee_2 = []

In [28]:
employee_2 = ["Zehra", 18, 6000,"Finance", "CFO"]

In [19]:
employee_1 = ["Afzal",20, 5000.0, "GNG", "MD", 1500]

In [29]:
employee_2.append(1600)

In [30]:
employee_2

['Zehra', 18, 6000, 'Finance', 'CFO', 1600]

"Finance" -> 3,-3

18 -> 1,-5

In [33]:
employee_1[0]

'Afzal'

In [34]:
employee_2[-6]

'Zehra'

In [35]:
employee_2[-6][2]

'h'

In [41]:
employee_1

['Afzal', 20, 500000, 'GNG', 'MD', 1500]

In [42]:
employee_1[2] = 5500

In [43]:
employee_1

['Afzal', 20, 5500, 'GNG', 'MD', 1500]

In [44]:
employee_2

['Zehra', 18, 6000, 'Finance', 'CFO', 1600]

In [46]:
employee_2[3][2]

'n'

In [23]:
"6000"[2]

'0'

$H_2o$

$2^2$

In [47]:
employee_3 = ["Waqas", 28, " ", " ", "D.S", "Senior Consultant"]

In [48]:
employee_3

['Waqas', 28, ' ', ' ', 'D.S', 'Senior Consultant']

In [54]:
employee_3[0] = "Waqas"

In [56]:
employee_3

['Waqas', 28, ' ', 0, 'D.S', 'Senior Consultant']

In [57]:
employee_3[3] = 0

In [58]:
employee_3[0] = "Muhammad Waqas"

In [59]:
employee_3

['Muhammad Waqas', 28, ' ', 0, 'D.S', 'Senior Consultant']

In [60]:
employees = [employee_1, employee_2, employee_3]

In [61]:
type(employees)

list

In [33]:
len(employees)

3

In [34]:
employees[2]

['Muhammad Waqas', 28, 2500, 0, 'D.S', 'Senior Consultant']

In [35]:
employees.append(["Harris", 22, 5300, 1550, "MIS", "Supervisor"])

In [36]:
employees

[['Afzal', 20, 5500, 'GNG', 'MD', 1500],
 ['Zehra', 18, 6000, 'Finance', 'CFO', 1600],
 ['Muhammad Waqas', 28, 2500, 0, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5300, 1550, 'MIS', 'Supervisor']]

In [37]:
# list of lists

In [38]:
employee_1

['Afzal', 20, 5500, 'GNG', 'MD', 1500]

In [39]:
employee_1.index("MD")

4

In [40]:
employees

[['Afzal', 20, 5500, 'GNG', 'MD', 1500],
 ['Zehra', 18, 6000, 'Finance', 'CFO', 1600],
 ['Muhammad Waqas', 28, 2500, 0, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5300, 1550, 'MIS', 'Supervisor']]

In [41]:
# employees[0][2] += 500
# employees[1][2] += 500
# employees[2][2] += 500
# employees[3][2] += 500

In [42]:
# looping
# for loop

for info in employees: # loop statement
    info[2]+=500

In [43]:
employees

[['Afzal', 20, 6000, 'GNG', 'MD', 1500],
 ['Zehra', 18, 6500, 'Finance', 'CFO', 1600],
 ['Muhammad Waqas', 28, 3000, 0, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5800, 1550, 'MIS', 'Supervisor']]

In [44]:
info

['Harris', 22, 5800, 1550, 'MIS', 'Supervisor']

In [45]:
num = 1
num = 2
num = 3

In [46]:
num

3

In [47]:
employees

[['Afzal', 20, 6000, 'GNG', 'MD', 1500],
 ['Zehra', 18, 6500, 'Finance', 'CFO', 1600],
 ['Muhammad Waqas', 28, 3000, 0, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5800, 1550, 'MIS', 'Supervisor']]

# comparision operators

* `==` equality
* `!=` not equals to
* `>` greater than
* `<` less than
* `>=` greater than & equals to
* `<=` less than & equals to

# Logical Operators

* and 
* or
* not

In [48]:
# accept
# except